<div class="topbar">
    <div class="toggle">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="search">
        <label>
            <input type="text" placeholder="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </label>
    </div>
    <div class="user">
        <img src="assets/images/admin.png" alt="">
    </div>
</div>