<div class="navigation">
    <ul>
        <li>
            <a href="">
                <span class="icon">
                    <i class="fa-solid fa-globe"></i>
                </span>
                <span class="title">Empresa</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                <span class="title">Home</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fas fa-users"></i>
                </span>
                <span class="title">Empregados</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fa-regular fa-comments"></i>
                </span>
                <span class="title">Mensagens</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fa-regular fa-circle-question"></i>
                </span>
                <span class="title">Ajuda</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                </span>
                <span class="title">Configurações</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fa-solid fa-building-user"></i>
                </span>
                <span class="title">Senhas</span>
            </a>
        </li>

        <li>
            <a href="">
                <span class="icon">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </span>
                <span class="title">Sign out</span>
            </a>
        </li>
    </ul>
</div>